<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MySite</title>

    <script>
        function update_action() {
            var task_id = document.getElementById("action_input").value;
            document.getElementById("form").action = "/delete/" + task_id;
            document.getElementById("form").submit();
        }
    </script>
</head>

<body>
    <form id="form" method="post">
        {% csrf_token %}
        <label>Task Id: </label>
        <input id="action_input" type="number" value="0">
        <input type="button" value="Submit" onclick="update_action();">
    </form>
</body>

</html>